@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(../imagens/fundo-madeira.jpg);
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

.framephone {
    position: relative;
    display: block;
    margin: auto;
    margin-top: 50px;
    width: 50%;
    max-width: 300px;
    min-width: 250px;   
}






