@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(../imagens/fundo-madeira.jpg);
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

.framephone {
    display: block;
    margin: auto;
    margin-top: 0px;
    width: 85%;
    max-width: 312px;
    min-width: 240px;
}

.celular {
    background-image: url(../imagens/frame-iphone.png);
    background-repeat: no-repeat;
    background-position: 50%;
    width: 100%;
    padding: 80px;
    display: block;
    margin: auto;
    margin-top: 30px;
    max-width: 312px;
    min-width: 230px;
}





